{% extends "tweet/base.html" %}
{% block content %}
    <article class="media content-section">
        <img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}"></img>
      <div class="media-body">
        <div class="article-metadata">
          <a  class="mr-2 link-color" href="{% url 'user-tweets' object.author.username %}">{{ object.author }}</a>
          <small class="text-muted">{{ object.date_posted |date:"F d, Y" }}</small>
        </div>
        <h2 class="article-title">{{ object.title }}</h2>
        <p class="article-content">{{ object.content }}</p>
        <div>
            {% if object.author == user %}
              <a href="{% url 'tweet-update' object.id %}" class="btn btn-secondary btn-sm mt-1 mb-1">Update <i class="fa fa-refresh fa-lg" aria-hidden="true"></i>
</a>
              <a href="{% url 'tweet-delete' object.id %}" class="btn btn-danger btn-sm mt-1 mb-1">Delete <i class="fa fa-trash fa-lg" aria-hidden="true"></i>
</a>
            {% endif %}
        </div>
        {% if user.is_authenticated %}
            <form action="{% url 'like_post' %}" method="POST">
                {% csrf_token %}
                <button id="like" name="post_id" type="submit" value="{{post.id}}" class=" btn bg-transparent"><i style="color:red" class="fa fa-heart fa-lg" aria-hidden="true"></i> {{total_likes}}</button>
            </form>
        {% else %}
        <button class=" btn bg-transparent"><i style="color: red" class="fa fa-heart fa-lg" aria-hidden="true"></i> {{total_likes}}</button>
        {% endif %}

      </div>
    </article>
{% endblock content %}
